h1{
    color: blueviolet;
}

.description{
    text-align: center;
    color:darkgreen;
}

#chuck {
    background-color: black;
    height: 400px;
    width: 400px;
}

#chuck:hover {
    background-image:url('../img/chuck.jpg');
    height: 400px;
    width: 400px;
}